@import "reset";
@import "./variables/globals";
@import "./themes/light";
@import "./themes/dark";
@import "./themes//orange.scss";

body,
.app-light-theme,
.app-dark-theme {
    color: var(--primary-color);
    font: var(--font-m);
    background: var(--bg-color);
}

.app {
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
}

.main-wrapper {
    flex-grow: 1;
    flex-shrink: 100;
    overflow-x: hidden;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid var(--primary-color);  /* padding вокруг плашки */
}
