.AppLink {
    color: var(--inverted-primary-color);
    transition: transform .2s ease,color .2s ease;
    text-decoration: none;
    text-decoration: underline;

    &:hover {
        transform: translateY(-5px);
        font-weight: bold;
    }
}