.Sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: space-between;
}

.switchers {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 12px;
    margin-left: auto;
    justify-content: end;
}

.ThemeSwitcher {
    line-height: 0;
}

.langSwitcher {
    min-width: 60px;
    color: var(--primary-color);
}

.collapsedBtn {
    position: absolute;
    right: -32px;
    bottom: 24px;
    z-index: 10;
}

.items {
    margin-top: 20px;
    padding-left: 24px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        padding: 0;
        margin-left: 0;
    }
}