@import "reset";
@import "variables/globals";
@import "themes/light";
@import "themes/dark";

body,
.app-light-theme,
.app-dark-theme {
    color: var(--primary-color);
    font: var(--font-m);
    background: var(--bg-color);
}

.app {
    min-height: 100vh;
}