.app-dark-theme {
    --bg-color: #23272F; // фон
    --primary-color: #F6F7F9; // заголовки
    --secondary-color: #191B21; // шапка
    --tertiary-color: #F6F7F9; // основной текст
    --border-color: #2D2F33;
}