.app-light-theme {
    --bg-color: #FFF; // фон
    --primary-color: #23272F; // текст
    --secondary-color: #F0F1F4; // шапка
    --tertiary-color: #BFC2C7; // основной текст
    --border-color: #E9E9EA;
}