.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.login, .actions {
    font-weight: bold;
    color: var(--inverted-primary-color);
    margin-left: auto;
}
