.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.links {
    display: flex;
    font-weight: bold;
    gap: 20px;
    align-items: end;
    color: var(--inverted-primary-color);
}