.profileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.profileInfo {
    // margin-top: 30px;
}

.input {
    margin-top: 10px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}